body{
    margin: 0;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
    color: #fff;
}
a:hover{
    text-decoration: none;
    color: #fff;
}
.nav_row{
    background: #ffffff;
}
.p_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 30px 0;
}
.p_nav a{
    color: #969696;
}
.nav_menu_left{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.p_nav .nav_menu_left .nav_img img{
    width: 150px;
    margin-right: 70px;
}
.nav_menu ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin: 0;
}
.nav_menu ul li{
    list-style: none;
    font-size: 20px;
}
.nav_menu ul li a span img{
    height: 20px;
    margin-right: 10px;
}
.nav_menu ul li:nth-child(n){
    padding: 0 25px;
}
.nav_menu ul li:nth-last-child(1){
    padding-right: 0px;
}
.menu_underline{
    height: 2px;
    margin: 0 auto;
    width: 60%;
    background-color: #cc0000;
    visibility: hidden;
}
.nav_menu ul li:hover > .menu_underline{
    visibility: visible;
}
.nav_menu ul li a select{
    background: transparent;
    border: none;
    color: #969696;
    font-weight: 600;
}
.nav_menu ul li a select:focus-visible{
    background: transparent;
    border: none;
    outline: none;
}
.nav_menu ul li a select option{
    color: #969696;
}
.nav_menu_right{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_menu_right .nav_menu{
    margin-right: 20px;
}
.nav_menu_right ul li .cart_image{
    border: 1px solid #d3d3d3;
    padding: 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px -5px #fcfbfb;
    position: relative;
}
.cart_notification{
    position: absolute;
    background: #4caf50;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    transform: translate(-60%, -60%);
    color: #ffffff;
    line-height: 1.7em;
}
.nav_menu_right ul li a img{
    height: 20px;
    width: 20px;
}